<launch>
	<group ns="Quad1">
		<rosparam command="load" file="$(find cvision)/configs/color_thresholds.yaml" />
		<rosparam command="load" file="$(find cvision)/configs/configs.yaml" />
		<node pkg="cvision" name="cvision_color_detector" type="cvision_color_detector" required="True" output="screen"/>
	</group>
</launch>
